@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&family=Press+Start+2P&family=Roboto+Condensed&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.my_title_font {
    font-family: 'Press Start 2P', 'cursive';

}


.my_item_font {
    font-family: 'Kanit', sans-serif;
}

.my_nav_font{
    
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
}
/* pageloading animation  */
#loading {

    z-index: 99999;

}

.single4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid;
    border-top-color: cyan;
    border-bottom-color: cyan;
    -webkit-animation: single4 2.5s infinite ease-in-out;
    animation: single4 2.5s infinite ease-in-out;
    margin: auto;
    display: flex;
    align-items: center;

}

.single5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid;
    border-left-color: white;
    border-right-color: white;
    margin: auto;
    -webkit-animation: single5 2.5s infinite ease-in-out;
    animation: single5 2.5s infinite ease-in-out;
}

@-webkit-keyframes single4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
}

@keyframes single4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
}

@-webkit-keyframes single5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes single5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
/* end of page loading  */





/* #explore{
    left: 500px;
} */

.out-glow {
    text-shadow: 0 0 12px white;
}

.rotate-down {
    position: absolute;
    transform: rotate(45deg);
    translate: 0 0.25rem;
}

.rotate-up {
    position: absolute;
    transform: rotate(-45deg);
}

.title-shadow {
    text-shadow: 0px 0px 10px cyan;
}

.homepage_astro_transition {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: astro_updown;
    animation-timing-function: ease-in-out;
    transition: all;
}

@keyframes astro_updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.8rem);
    }

    100% {
        transform: translateY(0);
    }
}